<CascadingAuthentucationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                            <NotAuthorized>
                                <img width="600" src="https://64.media.tumblr.com/4d8361afdcabfedd993e33bb41b20bd8/tumblr_moo982jBOh1qedb29o1_500.gif"/>
                                <p>You'll have to log in!</p>
                            </NotAuthorized>
                        </AuthorizeRouteView>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
    </CascadingAuthentucationState>