@namespace Components

<div class="">
    <label>@Label</label>
    <input type="text"/>
</div>
@code {

    [Parameter]
    public string? Label { set; get; }
    [Parameter]
    public string? Type { set; get; }

}