@using BlazorWasm.Auth
@using HttpClient.Utils
@using MudBlazor
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthProvider
@inject ApiAccess ApiAccess

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView Roles="farmer, customer, admin">
                <NotificationComponent></NotificationComponent>
            </AuthorizeView>
            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    protected override  async Task OnInitializedAsync()
    {
        if (AuthProvider is CustomAuthProvider customAuthProvider)
        {
            await ApiAccess.ManualSetupAsync();
            var principal = AuthUtils.CreateClaimsPrincipal(ApiAccess.JWT);
            customAuthProvider.AuthStateChanged(principal);
        }
    }
}