.reportedCenter{
    width: 100%;
    display: flex;
    justify-content: center;
}
.reportedText{
    font-size: x-large;
    border-radius: 20px;
    background: rgb(183, 191, 150);
    padding: 15px;
    width: 300px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
}
#bigCard{
    border-style: outset;
}
.buttons{
    margin-bottom: 20px;
    margin-top: 20px;
}
.reasonText{
    margin-top: 20px;
    margin-bottom: 10px;
}
.ignoreButton{
    background-color: #44B85E;
    border-radius: 25%;
}
.notifyButton{
    background-color: #EFD700;
}
.deleteButton{
    background-color: #000000;
    
}
