@page "/CreateOffer"
@using Components


<h3>CreateOffer</h3>
<div class="form-group">
    <InputField Label="Product Name"/>
    <InputField Label="Quantity"/>
    <InputField Label="Price"/>
    <label>Delivery Option</label>
    <InputRadioGroup>
        <InputRadio>Delivery</InputRadio>
        <InputRadio>Pick Up</InputRadio>
        <InputRadio>Pick Your Own</InputRadio>
    </InputRadioGroup>
</div>

@code {
    
}