.removeAllBtn{
    /*border-radius: 20px;*/
    float: right;
    font-size: 12px;
    background-color: white;
    border-style: solid;
    color: #202020;
    cursor: pointer;
}

thead {
    color: darkgray;
}
.totalPrice{
    text-decoration: solid;
}
.orderBtn{
    float:right;
    font-size: 16px;
    background-color: black;
    color:white;
    cursor:pointer;
    border-style: solid;
}

#input{
    width: 50px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

#inputCell{
    width: 13%;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
}
.yourShoppingCartText{
    border-radius: 20px;
    background: rgb(183, 191, 150);
    padding: 15px;
    width: 400px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 2%;
    font-weight: bold;
}
