#shape{
    overflow: hidden;
    margin-left: 10em;
    position: relative;
}
#farmImg{
    padding-top: 17px;
    padding-left: 12px;
}

#circle{
    background-color: #B7BF96;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    float:left;
    margin-right: -25px;
}

#rectangle{
    background-color: #B7BF96;
    width: 45em;
    height: 7em;
    overflow: hidden;
    margin-top: 45px;
}

#farmName{
    text-align: center;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: xxx-large;
}

#status{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;
    overflow: hidden;
    float: right;
    clear: both;
}

#reviews{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;    
    align-items: center;
    margin-right: 15px;
    margin-left: 90px;
}

#statusText {
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #606748;;
    color: white;
}


#statusLabel{
    text-align: left;
    text-decoration: #606748;
    margin-bottom: 0;
    margin-left: 5px;
    color: white;
}

#statusLabel{
    text-align: center;
    color: white;
    margin-left: 10px;
    background-color: #606748;
}

#ordersContainer{
    clear: both;
}

#phone{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;
    overflow: hidden;
    text-align: center;
    color: white;
}

#updateContainer{
    clear: both;
    float: right;
}

#phoneLabel, #addressLabel {
    padding: 0;
    margin-top: 10px;
}

.offers{
    margin-top: 25px;
}

.container{
    margin-top: 10px;
}

