#shape{
    overflow: hidden;
    margin-left: 15em;
    position: relative;
}
#farmImg{
    padding-top: 17px;
    padding-left: 12px;
}

#circle{
    background-color: #B7BF96;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    float:left;
    margin-right: -25px;
}

#rectangle{
    background-color: #B7BF96;
    width: 45em;
    height: 7em;
    overflow: hidden;
    margin-top: 45px;
}

#reviews{
    position: absolute;
    margin-left: 650px;
    margin-top: -20px;
}

#farmName{
    text-align: center;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: xxx-large;
}

#status{
    background-color: #606748;
    border-radius: 10px;
    width: 25em;
    height: 5em;
    overflow: hidden;
    margin-top: -20px;
    float: right;
    margin-right: 10em;
    clear: both;
}
#statusText {
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #606748;;
    color: white;
}


#statusLabel{
    text-align: left;
    text-decoration: #606748;
    margin-bottom: 0;
    margin-left: 5px;
    color: white;
}

#statusLabel{
    text-align: center;
    color: white;
    margin-left: 10px;
    background-color: #606748;
}

#ordersContainer{
    clear: both;
}

#phone{
    background-color: #606748;
    border-radius: 5px;
    width: 12em;
    height: 3em;
    overflow: hidden;
    text-align: center;
    color: white;
}

#updateContainer{
    clear: both;
    float: right;
    margin-right: 10em;
    margin-top: 15px;
}

#phoneLabel {
    padding: 0;
    margin: 0;
}

#phoneText{
    margin-top: -5px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    background-color: #606748;;
    color: white;
}

.offers{
    margin-top: 110px;
}
