@page "/DisplayFarms"
@using global::Shared.Models
@using HttpClient.ClientInterfaces
@inject IFarmService farmHttpClient;

<div class="text">
    <h3 class="yourFarmsText">YOUR FARMS</h3>
</div>

@if (farms == null)
{
    <p>
        <em>You don not have farms.</em>
    </p>
}
<div class="d-flex justify-content-around flex-wrap">
@if (farms != null)
{
    @foreach (var farm in farms)
        {
            <a href="FarmOverview/@farm.Name">
                <div class="card mb-3" style="max-width: 400px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="@farm.FarmIcon.AbsoluteUrl" alt="farmImage"/>
                        </div>
                        <div class="col-md-6">
                            <div class="text-center">
                                <h2 class="card-text">@farm.Name</h2>
                            </div>
                        </div>
                    </div>
                </div>
                </a>
        }
}

<a href="/AddFarm" class="addFarm">
    <div class="card mb-2" style="max-width: 200px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="Img/plus.png" alt="addFarmImage"/>
            </div>
            <div class="col-md-5">
                <div class="text-center">
                    <h6 class="card-text">Add a farm here</h6>
                </div>
            </div>
        </div>
    </div>
</a>

</div>
  
@code {
    private IEnumerable<Farm>? farms;
    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Console.WriteLine(farmHttpClient.GetAllFarmsByFarmer("FARMER").ToString());
            farms = await farmHttpClient.GetAllFarmsByFarmer("FARMER");
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }

}