img {
    border-radius: 50%;
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}
.card-body{
    text-align: center;
}
.yourFarmsText{
    border-radius: 20px;
    background: rgb(183, 191, 150);
    padding: 20px;
    width: 230px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 4%;
    font-weight: bold;
}
.text{
    width: 100%;
    display: flex;
    justify-content: center;
}

.card {
    background: #d7ccc8;
    transition: all .2s ease-in-out;
}

.card:hover {
    transform: scale(1.1);
    z-index: 6;
}

.text-center{
    height: 100%;
    display: flex;
    align-items: center;
}
.addFarm{
    text-decoration: none;
    color: black;

}
.addFarm:hover{
    transition: all .2s ease-out;
}
.addFarm{
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.farm-link{
    text-decoration: none;
    color: black;
}