.title{
    width: 100%;
    display: flex;
    justify-content: center;
}

.titleText{
    border-radius: 20px;
    background: rgb(183, 191, 150);
    padding: 15px;
    width: 230px;
    text-align: center;
    vertical-align: center;
    margin-bottom: 4%;
    font-weight: bold;
}

label{
    background-color: #B7BF96;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px ;
    border: 1px solid #6a7246;
}

.orders{
    margin-bottom: 7%;
    padding-right: 10%;
    padding-left: 10%;
    width: 100%;
}

img{
    width: 45px;
    height: 30px;
    padding: 5px;
}
.imgTic{
    width: 30px !important;
    height: 30px;
}

.deleteCell{
    padding: 5px;
}
.collectCell{
    width: 10%;
    padding: 5px;
}
.customerNameCell{
    width: 40%;
    font-size: 20px;
    padding: 5px;
}
.cityCell{
    width: 20%;
    font-size: 20px;
    padding: 5px;
}
.priceCell{
    width:15% ;
    font-size: 20px;
    padding: 5px;
}

.imgCell{
    text-align: right;
    padding: 5px;
    width: 15%;
}
.phoneCell{
    width: 25%;
    font-size: 20px;
    padding: 5px;
}
.nameCell{
    width: 40%;
    font-size: 20px;
    padding: 5px;
}


.AddressRow{
    border-bottom: 1px solid #6a7246;
    font-weight: bold;
    width: 100%;
}

.QuantityCell{
    text-align: right;
    padding-right: 10px;
}

tr{
    border-bottom: 1px solid #6a7246;
    width: 100%;
}

th{
    width: 100%;
}

.detailTable{
    display: none;
    width: 100%;
    border: 1px solid #6a7246;
}

.rowDiv.details .imgCell img{
    transform: rotate(180deg);
}

.details + .detailTable{
    display: block;
}
.ordersTable{
    width: 100%;
    background-image: linear-gradient(#B7BF96,#fafaf7);

}
.rowDiv{
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid #6a7246;
}