#shape{
    overflow: hidden;
    margin-left: 10em;
    position: relative;
}
#farmImg{
    padding-top: 17px;
    padding-left: 12px;
}

#circle{
    background-color: #B7BF96;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    float:left;
    margin-right: -25px;
}

#rectangle{
    background-color: #B7BF96;

    width: 45em;
    height: 7em;
    overflow: hidden;
    margin-top: 45px;
}



#farmName{
    text-align: center;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: xxx-large;
}

#reviews{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;
    align-items: center;
    margin-right: 15px;
    margin-left: 90px;
}

#status{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;
    overflow: hidden;
    float: right;
    clear: both;
}
input[type=text] {
    width: 100%;
    /*padding: 12px 12px;*/
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #606748;;
    color: white;
}
#statusText{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    background-color: #606748;;
    color: white;
}

::placeholder {
    color: #9f9c9c;
}

#statusLabel{
    text-align: left;
    text-decoration: #606748;
    margin-bottom: 0;
    margin-left: 5px;
    color: white;
}

#statusLabel{
    text-align: center;
    color: white;
    margin-left: 10px;
    background-color: #606748;
}

.buttonContainer{
    clear: right;
    float: right;
}

#updateButton{
    border-radius: 5px;
    color: white;
    background-color: #606748;
    border-style: solid;
}

#ordersContainer{
    clear: both;
}

#addButton{
    border-radius: 5px;
    color: black;
    background-color: #ABBC85;
    border-style: none;
    padding: 10px 25px
}

#phone{
    background-color: #606748;
    border-radius: 10px;
    width: 20em;
    height: 5em;
    overflow: hidden;
    text-align: center;
    color: white;
}

#updateContainer{
    clear: both;
    float: right;
}

#phoneLabel,  #addressLabel {
    padding: 0;
    margin: 0;
}

#phoneLabel{
    margin-left: 3px;
}

#phoneText{
    margin-top: -10px;
    margin-left: 100px;
}
.addOffer{
    position: fixed;
    bottom: 40px;
    right: 40px;
}
.addOffer:hover{
    transition: all .2s ease-out;
}
.container{
    margin-top: 10px;
}

.offers{
    margin-top: 50px;
}

#updateButtonContainer{
    margin-top: 15px;
}
#errorMessageContainer{
    margin-top: 15px;
    margin-left: 400px;
}