@page "/"
@using System.Security.Claims
@using Components

<PageTitle>Index</PageTitle>
<AuthorizeView>
    <NotAuthorized>
        <h1>Hello There!</h1>
    </NotAuthorized>
    <Authorized>
        <h1>Hello @context.User.Identity.Name!</h1>
        Welcome, MANGO! Keep going!
        <br>
        <img src="https://www.infoilawa.pl/img/artykuly/63002_zryw-_1.jpg" alt="Agatka"/>
        <br>
        Btw. Simon is the BEST! (And Uafa also)
    </Authorized>
</AuthorizeView>